/* defaults */
.html {
  --sl-color-accent: var(--spectrum-cyan-1000);

  --sl-color-accent-low: var(
    --spectrum-cyan-200);
  --sl-color-accent-high: var(
    --spectrum-cyan-1300);
  
}

/* component overrides */

:root {
  --sl-nav-pad-x: 0.1px;
  --sl-nav-pad-y: 0.1px;
  --sl-content-width: 70vw;
  --sl-sidebar-width: 15rem;
  
}

.header {
  --sl-color-bg-nav: var(--spectrum-cyan-600);
}
